# ignore everything in the root except the "wp-content" directory.
!wp-content/

# ignore everything in the "wp-content" directory, except:
# "maintenance", "plugins", "themes", "uploads" directory
wp-content/*
!wp-content/maintenance/
!wp-content/plugins/
!wp-content/themes/
!wp-content/uploads/

# ignore node dependency directories
node_modules/

# ignore log files and databases
*.log
*.sql
*.sqlite
